<nav class="header-nav">
  <div class="navbar__container">
    <a class="header-title" href="/">
      <img
        width="150px"
        src="/images/fivet-logo.png"
        alt="Fivet Logo"
        id="navbar__logo"
      />
    </a>
    <div class="navbar__toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul class="nav">
      <li class="navbar__item">
        <a class="navbar__links" href="/dashboard/pins">Dashboard</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__links" href="/page-1/items">Page 1</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__links" href="/page-2/items">Page 2</a>
      </li>
    </ul>
  </div>
</nav>
