<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELCOME</title>
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/images/fivet-logo.png" type="image/x-icon">
</head>
  <header id="showcase">
        <h1>Welcome</h1>
        <p>Which app would you like to use?</p>
        <a href="/dashboard/pins" class="button pin">Pin App</a>
        <a href="https://tawanda-profuse.github.io/fivet-countdown/" class="button count">Timer App</a>
  </header>